*{
    margin: 0;
    
}
.red{
    height: 250px;
    width: 100%;
    background-color: red;
}
.white{
    height: 300px;
    width: 100%;
    background-color: white;
}
.green{
    height: 250px;
    width: 100%;
    background-color: green;
}
.img {
    width: 400px;
    height: 300px;
    margin-left: 550px;
}